@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Oswald:wght@200;300;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Rubik+Wet+Paint&display=swap');

.sidebar{
  // background-color: rgba(27, 33, 48, 0.75);
  margin-left: -13px !important;
  width: 345px;
  height: 100vh;
  h1{
    margin-top: 30px !important;
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 30px;
text-align: center;
color: #EBEEF2;
  }
 
  
.btn0{
  // color:rgba(27, 33, 48, 0.75) !important;
  color: #545D69!important;

  background-color: transparent !important;
  border: none !important;
  margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 100px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
&:hover{
  background: #131722BF !important;
}
// line-height: 170%;
}
.btn1{
  background-color: transparent !important;
  border: none !important;
  color: #545D69!important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 53px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn2{
  background-color: transparent !important;
  border: none !important;
  color: #545D69!important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 105px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn3{
  background-color: transparent !important;
  border: none !important;
  color: #545D69!important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 23px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn4{
  background-color: transparent !important;
  border: none !important;
  color: #545D69!important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 104px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.logout{
  background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
border-radius: 12px !important;
border: none !important;
margin-left: 54px;
margin-top: 50px;
padding: 10px 80px 10px 40px;
}

  .dashboard{
    background-color: rgb(38, 48, 75);
    
    // color:#545D69 !important;
    // width: 100vw;
  height: 100vh;
  }
  
}
.header{
  display: none !important;
  background-color: rgb(38, 48, 75) !important;
}
// .sidebar{
//   color: white;
//   .cryptoyield{
//     padding-right: 10px !important;
//     background-color: rgba(27, 33, 48, 0.75);
//   }
//   .menu{
//     background-color: #1B2130BF
//     !important;
//   }
//   .gnJkew {
//     background-color: #1B2130BF !important;
//   }
//   .gmgIpm{
//     // background-color: !important;
//     margin-top: 20px !important;
//     // border-radius: 20px !important;
//     // color: ;;
//   }
  
//   .sc-pyfCe{
    
//     &:hover{

//       background-color: black !important;
//       border-radius: 15px !important;
      
//     }
//   }
  
//   .bOQEtf{
//     margin-top: 60px !important;
//     padding-right: 30px !important;
//     border: 0px !important;
//   }
//   .lkTtqM {
//     background: rgba(27, 33, 48, 0.75) !important;
//   }
// }
.hero{

  color: white;
  .new-axies{
    width: 200px;
height: 31px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 170%;
color: #545D69 !important;
  }
  .new-price{
    width: 200px;
height: 32px;

/* Title/03 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
  }
  .hero-stats{
    margin-left: 10px;
  }
  .viewbtn{
    border: 1px solid #FF82D4  ;
    background-color: transparent !important;
    &:hover{
      border: 1px solid #FF82D4  !important;
    }
  }
  .rectangle{
    margin-left: 10px ;
  }
  img{
    position: relative !important;
  }
  .card-stat{
    border: none !important;
    background: rgb(38, 48, 75);
    
    
  }
    h5{
      color: white !important;;
     
      margin-left: 10px !important;
    }
    span{
      margin-left: 10px !important;

    }
  
    

  .card-header{
    
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;;
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
// mix-blend-mode: soft-light !important;
opacity: 2.95 !important;


  }
  .card-body{

    background: rgb(38, 48, 75);
    // border-radius: 12px !important;

  }
  .cryptocard{
    background-image: url("Media/Mask.png");
    background-repeat: no-repeat;
    background-color: #1B2130BF;
    padding: 30px !important;;


  }
  .axies{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 170%;
color: #545D69 !important;
  }
  .price{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 26px;
color: #F4F6F9;
  }
  .stat-card{
    // margin-left: 10px !important;
    // margin-right: 30px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none !important;
  }
  .hello{
    position: absolute !important;
    top: 45%;
    left: 3%;
    h3{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
    }
    .btn{
      background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
      border: none !important;
      border-radius: 8px !important;
      padding: 10px 30px 10px 30px !important;
    }
    .buy{
      // background:transparent !important;
      border: 1px solid linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
      border-radius: 8px !important;
      padding: 10px 30px 10px 30px !important;
    }
    p{
      font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
    }

  }
 
 h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
// line-height: 130%;

color: white;
 }
}
.welcom{
  // margin-left: -12px;
  // padding-left: 17px !important;
  background-color:  #131722 !important;
  height: 100vh !important;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% - 320px) ;

}
.game{
  color: white ;
  h1{

    margin-top: 20px;
    
  }
  .card{
    // border: none !important;
    border-radius: 15px !important;
    border-color: #1B2130 !important;
    background-color: #191E2C !important;
  }
  .card-body{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-color: #1B2130 !important;
    span{
      width: 80px;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 170%;
letter-spacing: 0.005em;
color: #545D69;
    }
    h6{
      width: 265px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;

    }
    background-color: #1B2130 !important;
  }
}
.offcanvas-body{
  // backdrop-filter: blur(10px);

  background-color:rgb(38, 48, 75);
  // background-color: rgb(155 121 121 / 100%);
  -webkit-tap-highlight-color: transparent;
  // width: 30% !important;
}
.offcanvas-header{
background-color:rgb(38, 48, 75);


}
body{
  overflow-y: hidden!important;
}
.sidebar1{
  // background-color: rgba(27, 33, 48, 0.75);
  // margin-left: -13px !important;
  // width: 25vw;
  h1{
    margin-top: 0px !important;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
text-align: center;
color: #EBEEF2;
  }
 
  
.btn0{
  // color: #545D69 !important;

  background-color: transparent !important;
  border: none !important;
  margin-top: 30px;
  margin-left:0px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 60px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
&:hover{
  background: #131722BF !important;
}
// line-height: 170%;
}
.btn1{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:0px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 23px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn2{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:0px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 90px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn3{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:0px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 20px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn4{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:0px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 90px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn5{
  background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
border-radius: 12px !important;
  border: none !important;
  // margin-top: 100px;
  margin-top:35px ;
  padding-top: 10px !important;
  padding-bottom: -10px !important;
  padding-right: 65px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}

  .dashboard{
    background-color: rgb(38, 48, 75);
    ;
    // color:#545D69 !important;
    // width: 100vw;
  height: 86vh;
  }
  
}
.market{
  color: white ;
  .stat-card{
    // margin-left: 10px !important;
    // margin-right: 30px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none !important;
    // background-color: #191E2C !important;
    // background: rgb(38, 48, 75);
    p{
      color: #545D69;
      font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
letter-spacing: 0.005em;
    }
  
  }
  .skymavis{
    color: #545D69;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 170%;
letter-spacing: 0.005em;
  }
  .card-header{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;;
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;


  }
  .card-body{

    background: #1B2130BF;

  }
  .develop-card{
    background-color:  #1B2130 ;
   
  }
  .develop{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 170%;
/* or 20px */

letter-spacing: 0.008em;
  }
  .sky{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 170%;
letter-spacing: 0.008em;
color: #D895FF;
  }
  .aug{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 170%;
letter-spacing: 0.008em;
color: #FF6262;
  }
  .card{
    // border: none !important;
    border-radius: 15px !important;
    border-color: #1B2130 !important;
    background-color: #191E2C !important;
  }
  .card-body{
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    border-color: #1B2130 !important;
    span{
      width: 80px;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 170%;
letter-spacing: 0.005em;
    }
    h6{
      width: 265px;
height: 26px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;

    }
    background-color: #1B2130 !important;
  }
  .market-axie{
    margin-top: 30px;
    .infinity{
      width: 330px;
height: 36px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 130%;

    }
    .tactical{
      width: 330px;
height: 24px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 170%;
color: #545D69 ;
    }
  
  }
  .installbtn{
    
      background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
      border: none !important;
      border-radius: 8px !important;
      padding: 10px 30px 10px 30px !important;
    
  }
}
.lunacian{
  .guild{
    color: #545D69;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600 !important;
font-size: 14px;
line-height: 170%;
letter-spacing: 0.008em;
  }
  .lunacian-card{
    // background-color: ;
    border: none !important;
    border-radius: 17px !important;
    h5{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 130%;
    }
    span{
      font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 170%;
/* identical to box height, or 24px */

letter-spacing: 0.008em;
    }
    img{
     background-color: #1B2130;
      border-top-left-radius: 15px !important;
      border-top-right-radius: 15px !important;
      
      // border-top-right-radius: 15px !important;
    }
    .card-body{
      // border: 1px solid grey !important;
      border-bottom-left-radius: 15px !important;
      border-bottom-right-radius: 15px !important;
      // background-color: #131722;
      background-color: #1B2130BF;
      color: white !important;
      background: rgb(38, 48, 75);
    }
  }
  .stat{
    margin-top: 38px;

    .stat-card{
      // margin-left: 10px !important;
      // margin-right: 30px !important;
      padding-left: 0px !important;
      padding-right: 0px !important;
      border: none !important;
      background: rgb(38, 48, 75);
    }
  }
  h5{
    color: white !important;;
   
    margin-left: 10px !important;
  }
  span{
    margin-left: 10px !important;

  }
  
  .card-header{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;;
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;


  }
  .card-body{

    background: #1B2130BF;

  }
  .cryptocard{
    background-image: url("Media/Mask.png");
    background-repeat: no-repeat;
    background-color: #1B2130BF;
    padding: 30px !important;;


  }
  .new-axies{
    width: 200px;
height: 31px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 170%;
color: #545D69 !important;

  }
  .new-price{
    width: 200px;
height: 32px;

/* Title/03 */

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
color: white;
  }
  .badge{
    background-color: transparent !important;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 170%;
text-align: center;
letter-spacing: 0.005em;
border-radius: 8px;
color: #545D69 !important;
&:hover{
  background: rgba(27, 33, 48, 0.75) !important;
  color: white !important;

}
  }
  .sale{
    margin-top: 50px;
    color: white;
    .top{
      font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 36px;
        padding-top: 13px !important;
    }
  }
  .salecard{
    background-color: rgba(27, 33, 48, 0.75) !important;
    
    color: white !important;;
  }
  .location{
    border: 1px solid #EBEEF2;
    margin-top: 5px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 170%;
// color: #76E234 !important;
// border: 1px solid #76E234 !important;
&:hover{
  // background-color: none !important;
  // color: #76E234 !important;
}

  }
  .hours{
    margin-top: 12px !important;
    margin-left: 10px;
    font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  // line-height: 170%;
  /* or 20px */
  color: white !important;;
  letter-spacing: 0.008em;
  color: #545D69 !important;
  }
  .price1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 170%;
letter-spacing: 0.008em;
  }
  .price2{
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 170%;
letter-spacing: 0.008em;

color: #DADEE3;
  }

}
@media screen and (max-width:600px) {
  .install{
    display: flex;
    flex-direction: column !important;
  }
  .hub{
    display: flex;
    flex-direction: column !important;
  }
  .header{
    padding-top: 15px ;
    padding-bottom: 15px;
    display: block !important;
    background-color:rgba(27, 33, 48, 0.75) ;
  }
  .sidebar{
    display: none !important;
  }
  .card-body{
    display: flex;
    flex-direction: column!important;
  }
  .axie{
    font-size: 12px !important;
  }
  .sidebar{
    .dashboard{

      // background-color: rgba(27, 33, 48, 0.75);
      // margin-left: -13px !important;
      width: 100% !important;
    }
  }
  .offcanvas.offcanvas-start{
    width :80%!important;
  }
  .origin{
    display: flex !important;
    flex-direction: column!important;
    // align-items: center!important;
    img{
      margin-left:13px !important ;
      margin-bottom: 10px;
    }
   
  }
  .origin1{
    display: flex !important;
    flex-direction: column!important;
    // align-items: center!important;
    img{
      margin-bottom:10px !important ;
      margin-left: 13px !important;;
    }
    h5{
      margin-left: 15px !important;
      margin-bottom: 10px !important;
    }
    .playbtn{
      margin-left: 0px;
    }
   
  }
  .line{
    display: none !important;;
  }

  .hero{
    .heroimg{
      // height: 200px!important;
    }
    .hello{
      h3{
        // font-size: 20px;
        display: none!important;
      }
      p{
        // font-size: 10px;
        display: none !important;
      }
      display: none !important;
      .ticketbtn{

        display: none !important;
        button{
          font-weight: 300 !important;
          margin-bottom: 20px;
          
        }
      }
    }
  }
  
}

