@import url('https://fonts.googleapis.com/css2?family=Nosifer&family=Oswald:wght@200;300;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300&family=Rubik+Wet+Paint&display=swap');
.sidebar{
  // background-color: rgba(27, 33, 48, 0.75);
  margin-left: -13px !important;
  // height: 250vh;
  h1{
    margin-top: 30px !important;
    font-family: 'Poppins';
font-style: normal;
font-weight: 800;
font-size: 30px;
text-align: center;
color: #EBEEF2;
  }
 
  
.btn0{
  // color: #545D69 !important;

  background-color: transparent !important;
  border: none !important;
  margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 100px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
&:hover{
  background: #131722BF !important;
}
// line-height: 170%;
}
.btn1{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 53px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn2{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 105px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn3{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 23px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn4{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 104px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}
.btn5{
  background-color: transparent !important;
  border: none !important;
  // margin-top: 100px;
  margin-left:40px ;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 104px !important;
  padding-left: 15px !important;
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
// line-height: 170%;
&:hover{
  background: #131722BF !important;
}
}

  .dashboard{
    background-color: #1B2130BF;
    ;
    // color:#545D69 !important;
  //   width: 80vw;
  height: 220vh;
  }
  
}
// .sidebar{
//   color: white;
//   .cryptoyield{
//     padding-right: 10px !important;
//     background-color: rgba(27, 33, 48, 0.75);
//   }
//   .menu{
//     background-color: #1B2130BF
//     !important;
//   }
//   .gnJkew {
//     background-color: #1B2130BF !important;
//   }
//   .gmgIpm{
//     // background-color: !important;
//     margin-top: 20px !important;
//     // border-radius: 20px !important;
//     // color: ;;
//   }
  
//   .sc-pyfCe{
    
//     &:hover{

//       background-color: black !important;
//       border-radius: 15px !important;
      
//     }
//   }
  
//   .bOQEtf{
//     margin-top: 60px !important;
//     padding-right: 30px !important;
//     border: 0px !important;
//   }
//   .lkTtqM {
//     background: rgba(27, 33, 48, 0.75) !important;
//   }
// }
.hero{
  color: white;
  img{
    position: relative !important;
  }
  .card-stat{
    border: none !important;
    
  }
  .new{
    border-left: 2px solid !important;
    border-left-color: #FF82D4   !important ;
    border: spacing 10px;
    // border-collapse: separate !important; 
    h5{
      color: white !important;;
     
      margin-left: 10px !important;
    }
    span{
      margin-left: 10px !important;

    }
  
    border-left-style: dotted !important;
  }

  .card-header{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;;
    background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;


  }
  .card-body{

    background: #1B2130BF;

  }
  .cryptocard{
    background-image: url("Media/Mask.png");
    background-repeat: no-repeat;
    background-color: #1B2130BF;
    padding: 30px !important;;


  }
  .axies{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 170%;
color: #545D69;
  }
  .price{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 26px;
color: #F4F6F9;
  }
  .stat-card{
    // margin-left: 10px !important;
    // margin-right: 30px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    border: none !important;
  }
  .hello{
    position: absolute !important;
    top: 45%;
    left: 3%;
    h3{
      font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
    }
    .btn{
      background: linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
      border: none !important;
      border-radius: 8px !important;
      padding: 10px 30px 10px 30px !important;
    }
    .buy{
      // background:transparent !important;
      border: 1px solid linear-gradient(95.02deg, #FF82D4 0%, #1B1378 100%) !important;
      border-radius: 8px !important;
      padding: 10px 30px 10px 30px !important;
    }
    p{
      font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
    }

  }
 
 h1{
  font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 38px;
// line-height: 130%;

color: white;
 }
}
.welcom{
  margin-left: -12px;
  padding-left: 32px !important;
  background-color:  #131722 !important;
}

